<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team canard Room</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        #create-button{
            height: 70px;
            margin-top: 10%;
        }
        
        .body-content{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="row">
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1"><h1>Team Canard Tchat room</h1></span>
        </div>
    </nav>
    <div class="body-content container justify-content-center">
        <a href="/create-room" class="btn btn-primary col-3" id="create-button"><h2>create a room</h2></a>
    </div>
</div>
</body>
</html>